/*RESET CSS =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
  }
  
  :root {
    font-size: 62.5%;

    --primary-color: #e8bf52;
    --secondary-color: #ffc018;
    --color-text: #fff;

    --nav-height: 7.2rem;
}  

  html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }
  
/*BASE =================== */
body {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
  
    background-image: url(./assets/BG-IMAGE.jpg);
    background-position-x: 33%;
    background-repeat: no-repeat;
  
    overflow: overlay;
  }
  
  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }
  
  section {
    padding-block: 10rem;
  }
  
  /*====  scrollbar ============================ */
  
  ::-webkit-scrollbar {
    width: 1rem;
    background-color: #0f0f0f;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1rem;
    background-color: #ffffff97;
  }
  
  /* NAVIGATION in ../navigation/navigation.css =================== */
  /* footer in ../footer/footer.css =================== */
  

/* NAVIGATION =================== */

nav {
    display: flex;
  
    height: var(--nav-height);
  
    position: fixed;
    top: 0;
  
    background-color: transparent;
    width: 100vw;
  
    z-index: 100;

    transition: all 300ms ease-in-out;
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav button path {
    stroke: var(--color-text);
  }
  
  nav path {
    stroke: var(--color-text);
  }
  
  .logo img {
    width: 27rem;
    margin-left: -1rem;
  }
  
  nav button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  nav .menu,
  nav .close-menu {
    position: fixed;
  }
  
  /* NAVIGATION ON SCROLL =================== */
  nav.scroll {
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    background-color: rgba(0, 0, 0, 0.700);
  }
  
  nav.scroll path {
    stroke: var(--color-text);
  }
  
  /* MENU EXPANDED =================== */
  body.menu-expanded {
    overflow: hidden;
  }
  
  body.menu-expanded > :not(nav) {
    visibility: hidden;
  }
  
  .menu,
  .close-menu,
  body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
  }
  
  body.menu-expanded .menu,
  body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .menu {
    transform: translateX(100%);
  }
  
  body.menu-expanded .menu {
    top: 0;
    right: 0;
    
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    padding-top: var(--nav-height);
  
    transition: transform 300ms;
    transform: translateX(0);
  }
  
  .menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  
    margin-bottom: 6rem;

    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.1rem;
  } 
  
  .menu ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
  
    transition: all 200ms ease-in-out;
  }
  
  .menu ul li a:hover {
    color: #ffce46;
  }
  
  .menu .button {
    background-color: var(--secondary-color);
    border-radius: 4rem;
  
    display: inline-block;
    padding: 1.6rem 3.2rem;
  
    margin-top: 4.8rem;
    margin-bottom: 8rem;
  
    transition: all 200ms ease-in-out;
  }

  .menu button {
    font-size: 1.8rem;
    line-height: 2.3rem;

    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  
    color: #000000;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }
  
  body.menu-expanded .logo,
  body.menu-expanded nav button {
    position: relative;
    z-index: 100;
  }
  
  body.menu-expanded button path {
    stroke: var(--color-text);
  }

  /* RESPONSIVE =================== */

@media (min-width: 1300px) {
    /* reset =================== */
      nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-weight: initial;
        font-size: initial;
        transform: initial;
        color: initial;
        background-color: initial;
      }
    
      nav#navigation .close-menu,
      nav#navigation .open-menu,
      nav#navigation .social-links {
        display: none;
      }
    
      nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
      }
    
      nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
      } 
    
      nav#navigation .menu ul li a {
        font-weight: 700;
        opacity: .7;
      }

      nav#navigation .menu ul li a:hover {
        color: var(--secondary-color);
      }

      nav#navigation .menu a button {
        color: var(--color-text);
        outline: 2px solid var(--color-text);
        padding: 1rem 2rem;

        border-radius: 3rem;

        transition: all 300ms ease-in-out;
        font-weight: 700;
      }
  
      nav#navigation .menu a button:hover {
        color: var(--secondary-color);
        outline: 2px solid var(--secondary-color);
        font-weight: 700;
      }

      nav#navigation .menu ul li:nth-child(6) {
        animation: entering 400ms ease-in-out backwards;
      }

      nav#navigation .menu ul li:nth-child(5) {
        animation: entering 400ms ease-in-out;
        animation-delay: 200ms;
      }

      nav#navigation .menu ul li:nth-child(4) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 400ms;
      }

      nav#navigation .menu ul li:nth-child(3) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 600ms;
      }

      nav#navigation .menu ul li:nth-child(2) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 800ms;
      }
    
      nav#navigation .menu ul li:nth-child(1) {
        animation: entering 400ms ease-in-out backwards;
        animation-delay: 1000ms;
      }
    
    
      nav#navigation .menu li a {
        transition: all 300ms;
        color: var(--color-text);
      }
    
      nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: var(--secondary-color);
    
        position: relative;
        bottom: -2rem;
        left: -1rem;
        display: block;
    
        transition: width 200ms ease-in-out;
      }
    
      nav#navigation .menu li a:hover::after {
        padding-inline: 1rem;
        width: 100%;
      }

      .wrapper {
        width: min(133rem, 100%);
      }
    
    } 

  /* ANIMATIONS =================== */

  @keyframes entering {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }