* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 62.5%;

    --primary-color: #e8bf52;
    --secondary-color: #ffc018;
    --color-text: #fff;
    --paragraphy-color: #626262;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }

  .wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }

  .wrapper-home {
    width: min(130rem, 100%);
    margin-inline: auto;
  
    padding-inline: 2.4rem;
  }
  
  section {
    padding-block: 10rem;
  }

/* HOME =================== */
#home {
  background-image: url(./assets/fundo\ mobile\ 2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 33%;
}

#home .banner video {
  display: none;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;

    filter: brightness(.5);
  }

  .banner .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 5rem;
    font-weight: 300;
    
    color: var(--color-text);

    text-shadow: 8px 15px 15px rgba(10, 10, 10, 0.121), 0px -5px 35px rgba(255,255,255,0.3);
  }

  .banner .content h1 span {
    font-weight: 700;

    text-shadow: 8px 15px 15px rgba(173, 198, 13, 0.091), 0px -5px 35px rgba(255,255,255,0.3);
  }

  .banner .content button a {
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
  }

  .banner .content button:hover a {
    color: var(--secondary-color);
    font-weight: 700;
  }

  .banner .content button {
    background-color: transparent;
    border: none;
    outline: 2px solid var(--color-text);
    padding: 1rem 1.7rem;
    width: 30%;

    border-radius: 2rem;
    
    box-shadow: 0px 8px 18px -3px rgba(0, 0, 0, 0.25);

    transition: all 300ms ease-in-out;
  }

  .banner .content button:hover {
    cursor: pointer;
    background-color: var(--color-text);
    color: var(--secondary-color);
  }

  .banner .content .arrow {
    transition: all 200ms ease-in-out;
  }
  
  .banner .content .arrow:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .custom-shape-divider-bottom-1705539245 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1705539245 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1705539245 .shape-fill {
    fill: #dfdfdf;
}
/* services =================== */

#services {
  background-color: #dfdfdf;
}

#services .header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}

#services .header span {
  color: #00000077;
}

#services .header h2 {
  font-size: 3rem;
  font-weight: 300;
}

#services .header h2 span {
  color: var(--paragraphy-color);
  font-weight: 700;
}

#services .header p {
  color: #00000077;
  font-weight: 600;
}

#services .header a {
  color: #000000;
}

#services .header a button {
  color: #000000;
  background-color: var(--secondary-color);
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 1.3rem;
  outline: none;

  font-size: 1.4rem;
  font-weight: 600;

  transition: all 200ms ease-in-out;
}

#services .header a button:hover {
  color: var(--color-text);
  cursor: pointer;
}

#services .cards {
  margin-top: 7rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#services .cards .card {
  text-align: start;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#services .cards .card h3 {
  color: #000000ad;
}

#services .cards .card p {
  color: #000000ad;
  font-weight: 400;
}

#services .cards .card img {
  width: 7rem;
}

#services .cards .card .civil,
#services .cards .card .trabalho {
  width: 8rem;
}

/* System =================== */ 
#system {
  background-color: #E1E1E1;
 
  -webkit-box-shadow: inset 0px 1px 30px 5px rgba(0, 0, 0, 0.238);
  -moz-box-shadow: inset 0px 1px 30px 5px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0px 1px 30px 5px rgba(0, 0, 0, 0.213);
}

#system img {
  width: 50%;
  margin-bottom: 3rem;
}

#system p {
  color: #000000cf;
  font-weight: 600;
}

#system p span {
  color: #000000;
  font-weight: 800;
}

#system a button {
  background-color: #015A06;
  color: var(--color-text);
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 1.3rem;
  outline: none;

  font-size: 1.4rem;
  font-weight: 600;

  transition: all 200ms ease-in-out;

  margin-top: 3rem;
}

#system a button:hover {
  cursor: pointer;
  background-color: #007606;
}

/* values =================== */ 

#values {
  background-color: #dedede49;
  background-image: url(./assets/fundo.jpg);
  background-position: 59%;
  background-attachment: fixed;
  background-size: cover;
}

#values .wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#values .mission,
#values .value,
#values .vision {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#values h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

#values p {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffffce;
}

#values .value h2 span {
  color: var(--primary-color);
  font-weight: 500;
}

#values .cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#values .cards .card img {
  width: 7rem;
}

#values .cards .card h3 {
  color: #fff;
  font-weight: 500;

  margin-top: 1rem;
}

/* works =================== */
#works {
  background-color: #E9E9E9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e0e0e0' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23d6d6d6' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23cdcdcd' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23c3c3c3' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23bababa' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23b0b0b0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23A7A7A7' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

#works h2 {
  font-size: 3rem;
  text-transform: uppercase;

  margin-bottom: 8rem;
}

#works .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  justify-content: center;
}

#works .cards .card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  padding: 1rem 2rem;
  border-radius: 1.5rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(2.3px);
  border: 1px solid rgba(255, 255, 255, 1);

  box-shadow:  20px 20px 60px #8f8f8fc8,
              -20px -20px 60px #bfbfbfc0;
}

#works .cards .card h3 {
  font-weight: 600;
  font-size: 1.6rem;
  text-align: left;
}

#works .cards .card .acompanhamento,
#works .cards .card .recursos {
  font-size: 1.4rem;
}

/* bio =================== */

#bio {
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

#bio .content {
  display: flex;
  flex-direction: column;
}

#bio .content img {
  background: #000000;
  box-shadow:  20px 20px 60px #000000,
              -20px -20px 60px #000000;

  border-radius: 51% 49% 49% 51% / 30% 30% 70% 70%;

  margin-bottom: 2rem;
  max-width: 100%;
}

#bio .content .text h3 {
  font-size: 3rem;
  color: #dfdfdf;
  text-transform: uppercase;

  margin-bottom: 3rem;
}

#bio .content .text p {
  font-size: 1.6rem;
  color: #dfdfdf;
  font-weight: 500;
  line-height: 1.5;
}

#bio .content .text p span {
  font-weight: 600;
}

#bio .content .text p span a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--secondary-color);
}

#bio .content .text p span a:hover {
  cursor: pointer;
  color: #ffbb00;
}

/* buttonWhatsapp =================== */
#buttonWhatsapp {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: all 300ms ease-in-out;
}

#buttonWhatsapp.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#buttonWhatsapp img {
  width: 6rem;
  transition: all 300ms ease-in-out;
}

#buttonWhatsapp svg:hover {
  transform: scale(1.1);
}

@media (min-width: 1300px) {
   header#home {
      background-image: none;
      background-repeat: initial;
      background-size: initial;
      background-position: initial;
  }

  header#home .banner video {
    display: initial;
  }

  section#services .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }

  section#services .header {
    text-align: left;
    align-items: start;
  }

  section#services .cards {
    margin-top: initial;
  }

  section#system img {
    width: 40%;
  }

  section#system .content {
    text-align: right;
  }

  section#system .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
  }

  section#system h2 {
    margin-top: initial;
    margin-bottom: 3rem;
  }

  section#values .wrapper {
    width: min(70rem, 100%);
    gap: 7rem;
  }
  
  section#values .wrapper .cards {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
  }

  section#values .wrapper .cards .card h3{
    font-size: 1.6rem;
  }

  section#works .wrapper .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  section#bio .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 5rem;
  }

  section#bio .content img {
    width: 100%;
    margin-bottom: initial;
  }
}
