* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 62.5%;

    --primary-color: #e8bf52;
    --secondary-color: #ffc018;
    --color-text: #fff;
    --paragraphy-color: #626262;
}  

html {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  ul {
    list-style: none;
  }

  section {
    padding-block: 10rem;
  }

/* footer =================== */

#footer {
    background-color: #000;
}

#footer img {
    width: 27rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#footer p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #c5c5c5;
}

#footer .qualifications {
  width: 70%;

  background: rgba(189, 189, 189, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(189, 189, 189, 0.76);

  padding-top: 1.2rem;
  padding-bottom: .8rem;
  padding-inline: 1rem;

  border-radius: 1.5rem;
}

#footer .social-links {
  padding: 3rem;
}

#footer .social-links svg {
  transition: all 200ms ease-in-out;
}

#footer .social-links svg:hover {
  fill: var(--secondary-color);
  transform: scale(1.05);
}

@media (min-width: 1300px) {
  footer#footer .qualifications {
    width: 50%;
  }
}
