nav {
    background-color: rgba(0, 0, 0, 0.700);
}

#sistema {
    background-color: #d8d8d8;
}

#sistema .swiper {
    margin-top: 5rem;
  }

  #sistema .swiper-wrapper {
    width: 80%;
    margin-top: 2rem;
  }
  
  #sistema .swiper-slide img {
    width: 100%;
  }
  
  #sistema svg {
    fill: #fff;
    transition: all 200ms ease-in-out;
    transform: scale(1.8);
  }
  
  #sistema svg:hover {
    fill: #007606;
    transform: scale(2);
  }

  #sistema .content p {
    font-weight: 700;
    line-height: 1.3;

    margin-top: 3rem;
  }

  #sistema .content p:nth-child(2) {
    font-weight: 600;
  }

  #sistema .content p a,
  #sistema .content p span {
    font-weight: 700;
    color: #007606;
    text-decoration: none;

    transition: all 200ms ease-in-out;
  }

  #sistema .content p a:hover {
    color: #005d05;
  }